#ingredient{
 border:2px solid #BDDEF9;
 border-collapse : collapse;
}

th{
 border:1px solid #BDDEF9;
 background-color: #E9F4FD;
 padding:5px;
 width: 100px;
 text-align:center;
}

td{
  border:1px solid #BDDEF9;
  text-align:center;
}
